<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Collage Infomartion</title>

    <!-- css -->
    <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../styles/main.css">

    <!-- flickity carousel css -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- script -->
    <script src="../../vendor/js/bootstrap.min.js"></script>

    <!-- flickity carousel script -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <!-- instagram load script -->
    <script src="https://cdn2.woxo.tech/a.js#62767a4c46f7cf00284e3501" async data-usrc>
    </script>
</head>

<body>

    <!-- kema fit information section -->
    <section class="h-100 w-100" style="box-sizing: border-box; background-color: #ffffff">

        <div class="kema-fit-information container-xxl p-3 mb-4 position-relative"
            style="font-family: 'Poppins', sans-serif">

            <!-- web view -->
            <div class="d-sm-flex flex-row gap-5 text-center justify-content-center d-none d-sm-block">
                <div class="px-4">
                    <div class="college-total semibold-text fs-36 mb-3">
                        3500
                    </div>
                    <img src="../../images/logo-mahasiswa.png" alt="college-logo" width="120" class="college-image ">
                    <div class="mt-3 text-uppercase medium-text fs-24">
                        Mahasiswa <br> Aktif
                    </div>
                </div>
                <div class="px-4">
                    <div class="college-total semibold-text fs-36 mb-3">
                        14
                    </div>
                    <img src="../../images/logo-ormawa.png" alt="ormawa-logo" width="80" class="college-image">
                    <div class="mt-3 text-uppercase medium-text fs-24">
                        Ormawa
                    </div>
                </div>
                <div class="px-4">
                    <div class="college-total semibold-text fs-36 mb-3 ">
                        12
                    </div>
                    <img src="../../images/logo-prodi.png" alt="prodi-logo" width="135"
                        class="d-none d-sm-block college-image">
                    <div class="mt-3 text-uppercase medium-text fs-24">
                        Prodi
                    </div>
                </div>
            </div>
            <!-- web view -->

            <div class="d-sm-none d-md-none d-lg-none">

                <style>
                   
                </style>

                <div class="college-information d-flex p-3">
                    <img src="../../images/logo-mahasiswa.png" alt="college-logo" width="80" height="70"
                        class="college-image px-3 col-4">
                    <div class="d-flex flex-column align-content-center text-uppercase ">
                        <h6 class="semibold-text fs-sm-18">
                            Mahasiswa Aktif
                        </h6>
                        <h4 class="college-total semibold-text fs-18 mb-3">
                            3500
                        </h4>
                    </div>
                </div>

                <div class="college-information d-flex p-3">
                    <img src="../../images/logo-ormawa.png" alt="college-logo" width="80" height="70"
                        class="college-image px-3 col-4">
                    <div class="d-flex flex-column align-content-center text-uppercase semibold-text">

                        <h6 class="semibold-text fs-sm-18">
                            Ormawa
                        </h6>
                        <h4 class="college-total mb-3">
                            14
                        </h4>
                    </div>
                </div>

                <div class="college-information d-flex p-3">
                    <img src="../../images/logo-prodi.png" alt="college-logo" width="80" height="60"
                        class="college-image px-3 col-4">
                    <div class="d-flex flex-column align-content-center text-uppercase semibold-text">

                        <h6 class="semibold-text fs-sm-18">
                            Prodi
                        </h6>
                        <h4 class="college-total mb-3">
                            12
                        </h4>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- end kema fit information section -->
</body>

</html>